body {
    font-family: Arial, sans-serif;
    background-color: #1d1f21;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

a {
    text-decoration: none;
    color: #00c853;
}

@keyframes Moving_Color_Header {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes Moving_Color_Footer {
    0% {
        background-position: 100% 50%;
    }
    50% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.Header {
    background: linear-gradient(90deg, #26c6da, #66bb6a, #ef5350, #ab47bc);
    background-size: 400% 400%;
    animation: Moving_Color_Header 7s ease infinite;
    text-align: center;
    margin-top: 0;
    position: relative;
    width: 100%;
    padding-top: 10px;
}

.Footer {
    background: linear-gradient(90deg, #26c6da, #66bb6a, #ef5350, #ab47bc);
    background-size: 400% 400%;
    animation: Moving_Color_Footer 7s ease infinite;
    text-align: center;
    margin-top: 0;
    position: relative;
    color: #000000;
    width: 100%;
    padding-top: 10px;
}

.Header:hover {
    animation-play-state: paused;
}

.Footer:hover {
    animation-play-state: paused;
}

.Content {
    color: #eceff1;
    font-size: small;
    font-weight: bold;
    width: 100%;
    text-align: left;
    padding: 20px;
    padding-left: 50px;
    background: none;
    backdrop-filter: blur(90%);
    transition: backdrop-filter 3s ease;
}

.Content.no-blur {
    backdrop-filter: blur(0%);
}

#content-placeholder {
    text-align: center;
}

#password-input {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    border: 2px solid #FFFFFF;
    background-color: #000000;
    color: #00ff00;
    text-shadow: 0 0 5px #00ff00;
}

#password-input::placeholder {
    color: #00ff00;
    text-shadow: 0 0 5px #00ff00;
}

#toggle-password {
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    margin-left: -30px;
}

button {
    position: relative;
    display: block;
    padding: 10px 20px;
    color: #00c853;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 4px;
    background-color: transparent;
    border: 2px solid #00c853;
    cursor: pointer;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    background: #00c853;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #00c853, 0 0 25px #00c853, 0 0 50px #00c853, 0 0 100px #00c853;
}

.profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 20px;
}

.profile-photo {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    margin-right: 20px;
}

.profile-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hidden {
    display: none;
}
